# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# Graphen files
*.log
imgui.ini

*.json

# folder for tmp files
tmp

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user